In [1]:
import pandas as pd
import numpy as np
import os
import glob
import random

import warnings
warnings.filterwarnings("ignore")

In [2]:
train = pd.read_csv('./data/train/train.csv')

In [3]:
train.tail()

        Day  Hour  Minute  DHI  DNI   WS     RH  T  TARGET
52555  1094    21      30    0    0  2.4  70.70 -4     0.0
52556  1094    22       0    0    0  2.4  66.79 -4     0.0
52557  1094    22      30    0    0  2.2  66.78 -4     0.0
52558  1094    23       0    0    0  2.1  67.72 -4     0.0
52559  1094    23      30    0    0  2.1  67.70 -4     0.0

In [4]:
submission = pd.read_csv('./data/sample_submission.csv')

In [5]:
submission.tail()

,id,q_0.1,q_0.2,q_0.3,q_0.4,q_0.5,q_0.6,q_0.7,q_0.8,q_0.9
7771,80.csv_Day8_21h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7772,80.csv_Day8_22h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7773,80.csv_Day8_22h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7774,80.csv_Day8_23h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7775,80.csv_Day8_23h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
def preprocess_data(data, is_train=True):
    
    temp = data.copy()
    temp = temp[['Hour', 'TARGET', 'DHI', 'DNI', 'WS', 'RH', 'T']]

    if is_train==True:          
    
        temp['Target1'] = temp['TARGET'].shift(-48).fillna(method='ffill')
        temp['Target2'] = temp['TARGET'].shift(-48*2).fillna(method='ffill')
        temp = temp.dropna()
        
        return temp.iloc[:-96]

    elif is_train==False:
        
        temp = temp[['Hour', 'TARGET', 'DHI', 'DNI', 'WS', 'RH', 'T']]
                              
        return temp.iloc[-48:, :]


df_train = preprocess_data(train)
df_train.iloc[:48]

    Hour     TARGET  DHI  DNI   WS     RH   T    Target1    Target2
0      0   0.000000    0    0  1.5  69.08 -12   0.000000   0.000000
1      0   0.000000    0    0  1.5  69.06 -12   0.000000   0.000000
2      1   0.000000    0    0  1.6  71.78 -12   0.000000   0.000000
3      1   0.000000    0    0  1.6  71.75 -12   0.000000   0.000000
4      2   0.000000    0    0  1.6  75.20 -12   0.000000   0.000000
5      2   0.000000    0    0  1.5  69.29 -11   0.000000   0.000000
6      3   0.000000    0    0  1.5  72.56 -11   0.000000   0.000000
7      3   0.000000    0    0  1.4  72.55 -11   0.000000   0.000000
8      4   0.000000    0    0  1.3  74.62 -11   0.000000   0.000000
9      4   0.000000    0    0  1.3  74.61 -11   0.000000   0.000000
10     5   0.000000    0    0  1.3  73.74 -11   0.000000   0.000000
11     5   0.000000    0    0  1.3  73.73 -11   0.000000   0.000000
12     6   0.000000    0    0  1.4  72.22 -12   0.000000   0.000000
13     6   0.000000    0    0  1.4  72.22 -12   0.000000   0.000000
14     7   0.000000    0    0  1.4  70.27 -12   0.000000   0.000000
15     7   0.000000    0    0  1.6  64.83 -10   0.000000   0.000000
16     8   7.039287   29  494  1.8  65.45  -9   7.133144   0.750808
17     8   5.912871   61    7  1.9  55.90  -7  14.922796   1.689299
18     9  22.337268   58  743  2.1  57.39  -6  22.806037   5.161690
19     9  29.469529   67  811  1.9  53.15  -4   2.158549   4.973992
20    10  25.339762  138  368  1.8  55.99  -3  36.225679  16.517408
21    10  25.152060  178  224  1.9  55.97  -3  41.386914   9.760179
22    11  28.718397  193  261  2.0  58.43  -3  45.140829   7.601678
23    11  33.129393  189  364  2.3  58.41  -3  47.580874  10.980202
24    12  19.427151  190   37  2.6  59.19  -3  48.612666  17.361857
25    12  25.715166  213  133  2.9  59.18  -3  48.143432   4.880090
26    13  24.589225  211  114  3.2  63.27  -4  46.172141  13.326545
27    13  21.304405  185  101  3.1  63.27  -4  42.794162   9.478740
28    14  11.731500  124    2  3.0  62.84  -4  38.195666   4.504797
29    14  14.734764  135   69  2.7  62.85  -4  32.283670   2.627827
30    15   5.818888   62    0  2.5  68.55  -5  25.432775  14.265504
31    15   7.602096   73   39  2.2  68.55  -5  17.737444  16.611987
32    16   4.035725   41   11  2.0  70.27  -6   9.854244   9.010089
33    16   0.938541   10    0  2.0  70.28  -6   2.627827   2.440259
34    17   0.000000    0    0  2.0  71.33  -7   0.000000   0.000000
35    17   0.000000    0    0  2.0  71.35  -7   0.000000   0.000000
36    18   0.000000    0    0  2.1  76.43  -8   0.000000   0.000000
37    18   0.000000    0    0  2.2  76.44  -8   0.000000   0.000000
38    19   0.000000    0    0  2.3  76.72  -8   0.000000   0.000000
39    19   0.000000    0    0  2.2  76.72  -8   0.000000   0.000000
40    20   0.000000    0    0  2.2  77.51  -8   0.000000   0.000000
41    20   0.000000    0    0  2.0  77.51  -8   0.000000   0.000000
42    21   0.000000    0    0  1.9  83.46  -9   0.000000   0.000000
43    21   0.000000    0    0  1.8  83.46  -9   0.000000   0.000000
44    22   0.000000    0    0  1.8  83.36  -9   0.000000   0.000000
45    22   0.000000    0    0  1.7  83.36  -9   0.000000   0.000000
46    23   0.000000    0    0  1.7  90.86 -10   0.000000   0.000000
47    23   0.000000    0    0  1.6  90.85 -10   0.000000   0.000000

In [7]:
train.iloc[48:96]

    Day  Hour  Minute  DHI  DNI   WS     RH   T     TARGET
48    1     0       0    0    0  1.6  90.66 -10   0.000000
49    1     0      30    0    0  1.6  90.68 -10   0.000000
50    1     1       0    0    0  1.6  88.11 -11   0.000000
51    1     1      30    0    0  1.6  88.11 -11   0.000000
52    1     2       0    0    0  1.6  90.85 -11   0.000000
53    1     2      30    0    0  1.6  90.84 -11   0.000000
54    1     3       0    0    0  1.7  93.78 -12   0.000000
55    1     3      30    0    0  1.7  93.77 -12   0.000000
56    1     4       0    0    0  1.7  90.46 -12   0.000000
57    1     4      30    0    0  1.6  90.46 -12   0.000000
58    1     5       0    0    0  1.6  87.34 -12   0.000000
59    1     5      30    0    0  1.6  87.34 -12   0.000000
60    1     6       0    0    0  1.7  84.96 -12   0.000000
61    1     6      30    0    0  1.7  84.96 -12   0.000000
62    1     7       0    0    0  1.8  83.20 -12   0.000000
63    1     7      30    0    0  2.0  70.75 -10   0.000000
64    1     8       0   27  519  2.3  73.26  -9   7.133144
65    1     8      30   41  690  2.8  57.87  -6  14.922796
66    1     9       0   49  799  3.3  66.23  -4  22.806037
67    1     9      30   23    0  3.0  56.92  -2   2.158549
68    1    10       0   60  910  2.7  57.91  -1  36.225679
69    1    10      30   64  938  2.4  53.78   0  41.386914
70    1    11       0   66  961  2.1  59.87   0  45.140829
71    1    11      30   67  972  1.9  55.63   0  47.580874
72    1    12       0   67  980  1.7  58.88   1  48.612666
73    1    12      30   66  978  1.5  58.86   1  48.143432
74    1    13       0   64  972  1.4  60.68   2  46.172141
75    1    13      30   62  958  1.2  60.66   1  42.794162
76    1    14       0   57  936  1.2  61.34   1  38.195666
77    1    14      30   53  902  0.9  61.33   0  32.283670
78    1    15       0   46  852  0.6  72.29   0  25.432775
79    1    15      30   39  772  0.5  77.79  -1  17.737444
80    1    16       0   28  641  0.5  68.91  -2   9.854244
81    1    16      30   14  389  0.4  74.29  -3   2.627827
82    1    17       0    0    0  0.4  67.81  -4   0.000000
83    1    17      30    0    0  0.8  73.20  -5   0.000000
84    1    18       0    0    0  1.3  73.62  -6   0.000000
85    1    18      30    0    0  1.5  73.60  -6   0.000000
86    1    19       0    0    0  1.8  74.97  -7   0.000000
87    1    19      30    0    0  2.0  74.95  -7   0.000000
88    1    20       0    0    0  2.2  71.27  -8   0.000000
89    1    20      30    0    0  2.2  71.26  -8   0.000000
90    1    21       0    0    0  2.2  74.50  -8   0.000000
91    1    21      30    0    0  2.2  74.50  -8   0.000000
92    1    22       0    0    0  2.2  72.83  -8   0.000000
93    1    22      30    0    0  2.2  72.82  -8   0.000000
94    1    23       0    0    0  2.2  72.51  -8   0.000000
95    1    23      30    0    0  2.2  72.49  -8   0.000000

In [8]:
train.iloc[48+48:96+48]

     Day  Hour  Minute  DHI  DNI   WS     RH   T     TARGET
96     2     0       0    0    0  2.2  73.80  -8   0.000000
97     2     0      30    0    0  2.1  68.20  -8   0.000000
98     2     1       0    0    0  2.1  69.06  -8   0.000000
99     2     1      30    0    0  2.1  69.04  -8   0.000000
100    2     2       0    0    0  2.2  69.38  -8   0.000000
101    2     2      30    0    0  2.2  69.36  -7   0.000000
102    2     3       0    0    0  2.2  70.03  -7   0.000000
103    2     3      30    0    0  2.2  70.02  -7   0.000000
104    2     4       0    0    0  2.3  72.18  -7   0.000000
105    2     4      30    0    0  2.4  66.78  -7   0.000000
106    2     5       0    0    0  2.5  68.32  -7   0.000000
107    2     5      30    0    0  2.5  68.32  -7   0.000000
108    2     6       0    0    0  2.6  69.68  -7   0.000000
109    2     6      30    0    0  2.6  69.69  -6   0.000000
110    2     7       0    0    0  2.6  74.08  -6   0.000000
111    2     7      30    0    0  2.4  63.54  -4   0.000000
112    2     8       0    8    0  2.2  72.05  -3   0.750808
113    2     8      30   18    0  2.0  66.85  -2   1.689299
114    2     9       0   55    0  1.8  72.81  -1   5.161690
115    2     9      30   53    0  2.0  67.63  -1   4.973992
116    2    10       0  153   65  2.2  72.03  -1  16.517408
117    2    10      30  104    0  2.6  72.02   0   9.760179
118    2    11       0   81    0  3.1  75.29   0   7.601678
119    2    11      30  117    0  3.5  75.28   0  10.980202
120    2    12       0  176   20  3.9  75.99   0  17.361857
121    2    12      30   52    0  4.3  76.01   0   4.880090
122    2    13       0  141    3  4.7  79.12  -1  13.326545
123    2    13      30  101    0  5.0  79.17  -1   9.478740
124    2    14       0   48    0  5.3  78.49  -2   4.504797
125    2    14      30   28    0  5.1  84.71  -3   2.627827
126    2    15       0  110  157  5.1  80.48  -4  14.265504
127    2    15      30   71  535  4.4  86.96  -5  16.611987
128    2    16       0   47  403  3.7  79.93  -7   9.010089
129    2    16      30   26    0  3.1  86.46  -8   2.440259
130    2    17       0    0    0  2.6  80.46  -9   0.000000
131    2    17      30    0    0  2.3  87.15  -9   0.000000
132    2    18       0    0    0  2.0  85.23 -10   0.000000
133    2    18      30    0    0  1.7  85.26 -10   0.000000
134    2    19       0    0    0  1.5  85.29 -11   0.000000
135    2    19      30    0    0  1.2  85.30 -11   0.000000
136    2    20       0    0    0  0.9  86.81 -12   0.000000
137    2    20      30    0    0  0.7  86.81 -12   0.000000
138    2    21       0    0    0  0.5  82.90 -12   0.000000
139    2    21      30    0    0  0.4  82.89 -12   0.000000
140    2    22       0    0    0  0.4  79.09 -13   0.000000
141    2    22      30    0    0  0.7  79.08 -13   0.000000
142    2    23       0    0    0  1.1  81.09 -13   0.000000
143    2    23      30    0    0  1.4  81.08 -13   0.000000

In [9]:
df_train.tail()

       Hour  TARGET  DHI  DNI   WS     RH  T  Target1  Target2
52459    21     0.0    0    0  3.5  55.97 -1      0.0      0.0
52460    22     0.0    0    0  3.9  54.23 -2      0.0      0.0
52461    22     0.0    0    0  4.1  54.21 -2      0.0      0.0
52462    23     0.0    0    0  4.3  56.46 -2      0.0      0.0
52463    23     0.0    0    0  4.1  56.44 -2      0.0      0.0

In [10]:
df_test = []

for i in range(81):
    file_path = './data/test/' + str(i) + '.csv'
    temp = pd.read_csv(file_path)
    temp = preprocess_data(temp, is_train=False)
    df_test.append(temp)

X_test = pd.concat(df_test)
X_test.shape

(3888, 7)

In [11]:
X_test.head(48)

     Hour     TARGET  DHI  DNI   WS     RH    T
288     0   0.000000    0    0  0.8  80.92 -2.8
289     0   0.000000    0    0  0.9  81.53 -2.9
290     1   0.000000    0    0  1.0  79.91 -3.0
291     1   0.000000    0    0  0.9  79.91 -3.0
292     2   0.000000    0    0  0.9  77.20 -3.0
293     2   0.000000    0    0  1.1  78.36 -3.2
294     3   0.000000    0    0  1.2  76.78 -3.4
295     3   0.000000    0    0  1.8  77.93 -3.6
296     4   0.000000    0    0  2.4  76.89 -3.8
297     4   0.000000    0    0  2.9  78.64 -4.1
298     5   0.000000    0    0  3.5  77.21 -4.3
299     5   0.000000    0    0  3.6  79.07 -4.6
300     6   0.000000    0    0  3.8  74.74 -4.9
301     6   0.000000    0    0  3.9  76.45 -5.2
302     7   0.000000    0    0  4.1  69.45 -5.5
303     7   0.469267    5    0  4.5  68.92 -5.4
304     8   1.877069   20    0  5.0  63.50 -5.4
305     8   3.191010   34    0  5.3  62.54 -5.2
306     9   4.692657   50    1  5.6  61.26 -5.1
307     9   6.382006   66    7  5.8  60.80 -5.0
308    10  12.576279  119   41  5.9  60.54 -4.8
309    10  15.954963  142   71  6.0  60.08 -4.7
310    11  13.890188  137   26  6.1  59.66 -4.6
311    11  10.886904  108   18  6.1  59.66 -4.6
312    12  11.356167  111   23  6.2  59.63 -4.6
313    12  14.453320  137   38  6.3  60.08 -4.7
314    13  12.200868  117   29  6.4  60.25 -4.8
315    13   7.695957   78    9  6.5  61.64 -5.1
316    14   9.573041   93   24  6.6  61.52 -5.3
317    14  10.605451  104   30  6.5  62.46 -5.5
318    15  10.230059   99   40  6.5  61.50 -5.7
319    15   6.757493   68   22  6.3  63.00 -6.0
320    16   3.754175   38   16  6.0  62.02 -6.3
321    16   0.938544   10    5  6.0  62.02 -6.3
322    17   0.000000    0    0  5.4  61.99 -6.8
323    17   0.000000    0    0  5.1  62.46 -6.9
324    18   0.000000    0    0  4.9  60.98 -7.1
325    18   0.000000    0    0  4.7  61.45 -7.2
326    19   0.000000    0    0  4.5  59.31 -7.3
327    19   0.000000    0    0  4.3  59.77 -7.4
328    20   0.000000    0    0  4.1  57.30 -7.5
329    20   0.000000    0    0  4.0  58.20 -7.7
330    21   0.000000    0    0  3.8  55.23 -7.8
331    21   0.000000    0    0  3.6  56.09 -8.0
332    22   0.000000    0    0  3.4  53.54 -8.2
333    22   0.000000    0    0  3.4  53.89 -8.3
334    23   0.000000    0    0  3.4  51.96 -8.4
335    23   0.000000    0    0  3.4  51.96 -8.4

In [12]:
df_train.head()

   Hour  TARGET  DHI  DNI   WS     RH   T  Target1  Target2
0     0     0.0    0    0  1.5  69.08 -12      0.0      0.0
1     0     0.0    0    0  1.5  69.06 -12      0.0      0.0
2     1     0.0    0    0  1.6  71.78 -12      0.0      0.0
3     1     0.0    0    0  1.6  71.75 -12      0.0      0.0
4     2     0.0    0    0  1.6  75.20 -12      0.0      0.0

In [13]:
df_train.iloc[-48:]

       Hour     TARGET  DHI  DNI   WS     RH  T    Target1    Target2
52416     0   0.000000    0    0  3.4  50.47 -1   0.000000   0.000000
52417     0   0.000000    0    0  3.4  50.45  0   0.000000   0.000000
52418     1   0.000000    0    0  3.5  50.30  0   0.000000   0.000000
52419     1   0.000000    0    0  3.5  50.30  0   0.000000   0.000000
52420     2   0.000000    0    0  3.5  51.14  0   0.000000   0.000000
52421     2   0.000000    0    0  3.5  51.12  0   0.000000   0.000000
52422     3   0.000000    0    0  3.6  52.09  0   0.000000   0.000000
52423     3   0.000000    0    0  3.7  48.39  0   0.000000   0.000000
52424     4   0.000000    0    0  3.8  49.00  0   0.000000   0.000000
52425     4   0.000000    0    0  3.9  49.00  0   0.000000   0.000000
52426     5   0.000000    0    0  4.0  49.24  0   0.000000   0.000000
52427     5   0.000000    0    0  4.2  49.24  0   0.000000   0.000000
52428     6   0.000000    0    0  4.4  49.16  0   0.000000   0.000000
52429     6   0.000000    0    0  4.6  45.71  0   0.000000   0.000000
52430     7   0.000000    0    0  4.8  45.96  0   0.000000   0.000000
52431     7   0.000000    0    0  5.0  45.96  1   0.000000   0.000000
52432     8   5.536903   32  284  5.3  45.18  2   7.320054   5.349564
52433     8  11.449064   54  392  5.4  42.07  3  15.015330  11.168266
52434     9  17.267061   77  441  5.5  43.19  5  22.710188  17.174539
52435     9  22.709689   99  469  5.2  40.26  6  29.748142  22.617587
52436    10  27.401472  119  487  4.9  43.22  7  35.753684  27.403580
52437    10  33.688796  102  645  4.9  40.33  7  40.633005  31.532887
52438    11  36.878973  111  658  4.9  41.44  8  44.197978  35.474498
52439    11  42.697030   69  860  4.5  41.43  8  43.728785  39.322261
52440    12  43.353431   72  856  4.1  42.34  9  42.133066  37.257198
52441    12  38.473824  125  631  3.6  42.34  9  46.731107  37.538738
52442    13  30.685221  185  326  3.1  41.73  9  44.760518  35.943342
52443    13  29.934841  159  394  2.7  44.69  8  41.382820  15.015660
52444    14  26.650454  138  399  2.4  46.92  8  36.690891  29.468234
52445    14  22.334077  113  396  1.9  50.31  7  30.873576  24.869688
52446    15  17.360713   88  380  1.4  50.46  6  24.117314  19.426511
52447    15  11.918157   62  346  1.2  58.13  4  16.610162  17.080689
52448    16   6.287600   39  258  1.1  53.35  3   8.915156   9.197496
52449    16   1.407687   15    0  1.0  57.35  2   2.158430   2.252448
52450    17   0.000000    0    0  0.9  52.70  2   0.000000   0.000000
52451    17   0.000000    0    0  1.0  52.71  1   0.000000   0.000000
52452    18   0.000000    0    0  1.2  50.32  1   0.000000   0.000000
52453    18   0.000000    0    0  1.4  50.32  0   0.000000   0.000000
52454    19   0.000000    0    0  1.7  51.78  0   0.000000   0.000000
52455    19   0.000000    0    0  1.9  51.77  0   0.000000   0.000000
52456    20   0.000000    0    0  2.1  53.88  0   0.000000   0.000000
52457    20   0.000000    0    0  2.6  53.87  0   0.000000   0.000000
52458    21   0.000000    0    0  3.1  55.98 -1   0.000000   0.000000
52459    21   0.000000    0    0  3.5  55.97 -1   0.000000   0.000000
52460    22   0.000000    0    0  3.9  54.23 -2   0.000000   0.000000
52461    22   0.000000    0    0  4.1  54.21 -2   0.000000   0.000000
52462    23   0.000000    0    0  4.3  56.46 -2   0.000000   0.000000
52463    23   0.000000    0    0  4.1  56.44 -2   0.000000   0.000000

In [14]:
from sklearn.model_selection import train_test_split
X_train_1, X_valid_1, Y_train_1, Y_valid_1 = train_test_split(df_train.iloc[:, :-2], df_train.iloc[:, -2], test_size=0.3, random_state=0)
X_train_2, X_valid_2, Y_train_2, Y_valid_2 = train_test_split(df_train.iloc[:, :-2], df_train.iloc[:, -1], test_size=0.3, random_state=0)

In [15]:
X_train_1.head()

       Hour     TARGET  DHI  DNI   WS     RH   T
32908    14   1.783051   19    0  2.3  63.64   3
10140     6  12.103848   45  473  1.8  66.74  19
32182    11  56.300682   77  929  2.2  39.56  13
20953    12  65.401188  310  525  1.5  23.71  15
36079    15  19.614206   70  536  0.5  46.63   0

In [16]:
X_test.head()

     Hour  TARGET  DHI  DNI   WS     RH    T
288     0     0.0    0    0  0.8  80.92 -2.8
289     0     0.0    0    0  0.9  81.53 -2.9
290     1     0.0    0    0  1.0  79.91 -3.0
291     1     0.0    0    0  0.9  79.91 -3.0
292     2     0.0    0    0  0.9  77.20 -3.0

In [17]:
X_test.head()

     Hour  TARGET  DHI  DNI   WS     RH    T
288     0     0.0    0    0  0.8  80.92 -2.8
289     0     0.0    0    0  0.9  81.53 -2.9
290     1     0.0    0    0  1.0  79.91 -3.0
291     1     0.0    0    0  0.9  79.91 -3.0
292     2     0.0    0    0  0.9  77.20 -3.0

In [18]:
quantiles = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]

In [19]:
from lightgbm import LGBMRegressor

# Get the model and the predictions in (a) - (b)
def LGBM(q, X_train, Y_train, X_valid, Y_valid, X_test):
    
    # (a) Modeling  
    model = LGBMRegressor(objective='quantile', alpha=q,
                         n_estimators=10000, bagging_fraction=0.7, learning_rate=0.027, subsample=0.7)                   
                         
                         
    model.fit(X_train, Y_train, eval_metric = ['quantile'], 
          eval_set=[(X_valid, Y_valid)], early_stopping_rounds=300, verbose=500)

    # (b) Predictions
    pred = pd.Series(model.predict(X_test).round(2))
    return pred, model

In [20]:
# Target 

def train_data(X_train, Y_train, X_valid, Y_valid, X_test):

    LGBM_models=[]
    LGBM_actual_pred = pd.DataFrame()

    for q in quantiles:
        print(q)
        pred , model = LGBM(q, X_train, Y_train, X_valid, Y_valid, X_test)
        LGBM_models.append(model)
        LGBM_actual_pred = pd.concat([LGBM_actual_pred,pred],axis=1)

    LGBM_actual_pred.columns=quantiles
    
    return LGBM_models, LGBM_actual_pred

In [21]:
# Target1
models_1, results_1 = train_data(X_train_1, Y_train_1, X_valid_1, Y_valid_1, X_test)
results_1.sort_index()[:48]

0.1
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 1.36691
Early stopping, best iteration is:
[550]	valid_0's quantile: 1.36595
0.2
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.18535
Early stopping, best iteration is:
[684]	valid_0's quantile: 2.18266
0.3
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.57271
[1000]	valid_0's quantile: 2.55536
[1500]	valid_0's quantile: 2.54962
[2000]	valid_0's quantile: 2.54818
[2500]	valid_0's quantile: 2.54247
[3000]	valid_0's quantile: 2.5382
[3500]	valid_0's quantile: 2.52912
[4000]	valid_0's quantile: 2.52671
Early stopping, best iteration is:
[4134]	valid_0's quantile: 2.5254
0.4
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.69822
[1000]	valid_0's quantile: 2.68797
[1500]	valid_0's quantile: 2.66903
[2000]	valid_0's quantile: 2.65422
[2500]	valid_0's quantile: 2.64626
[3000]	valid_0's quantile: 2.64128
[3500]	valid_0's quantile: 2.63729
[4000]	valid_0's quantile: 2.63536
[4500]	valid_0's quantile: 2.63218
[5000]	valid_0's quantile: 2.6316
[5500]	valid_0's quantile: 2.62971
[6000]	valid_0's quantile: 2.62841
[6500]	valid_0's quantile: 2.6274
[7000]	valid_0's quantile: 2.62638
[7500]	valid_0's quantile: 2.62577
Early stopping, best iteration is:
[7648]	valid_0's quantile: 2.62497
0.5
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.59515
[1000]	valid_0's quantile: 2.57781
[1500]	valid_0's quantile: 2.57049
Early stopping, best iteration is:
[1253]	valid_0's quantile: 2.56859
0.6
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.33085
[1000]	valid_0's quantile: 2.31103
[1500]	valid_0's quantile: 2.30073
[2000]	valid_0's quantile: 2.29864
[2500]	valid_0's quantile: 2.29567
Early stopping, best iteration is:
[2640]	valid_0's quantile: 2.2944
0.7
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 1.92129
[1000]	valid_0's quantile: 1.91191
[1500]	valid_0's quantile: 1.90223
[2000]	valid_0's quantile: 1.89451
[2500]	valid_0's quantile: 1.89228
[3000]	valid_0's quantile: 1.89128
[3500]	valid_0's quantile: 1.89038
[4000]	valid_0's quantile: 1.88853
Early stopping, best iteration is:
[3809]	valid_0's quantile: 1.8884
0.8
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 1.402
[1000]	valid_0's quantile: 1.38923
[1500]	valid_0's quantile: 1.38311
[2000]	valid_0's quantile: 1.38088
[2500]	valid_0's quantile: 1.37844
[3000]	valid_0's quantile: 1.37763
Early stopping, best iteration is:
[2924]	valid_0's quantile: 1.37738
0.9
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 0.771587
[1000]	valid_0's quantile: 0.767132
[1500]	valid_0's quantile: 0.764032
[2000]	valid_0's quantile: 0.763584
[2500]	valid_0's quantile: 0.763707
Early stopping, best iteration is:
[2292]	valid_0's quantile: 0.763476

      0.1    0.2    0.3    0.4    0.5    0.6    0.7    0.8    0.9
0    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
1    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
2    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
3    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
4    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
5    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
6    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
7    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
8    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
9    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
10   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
11   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
12   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
13   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
14   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
15   1.01   1.84   3.98   4.37   2.49   5.54   7.94   6.84   6.20
16   2.96   5.46   5.56   8.96   9.11  10.05  14.31  18.91  25.79
17   5.96   7.13   7.32  11.30  10.02  10.12  15.69  18.56  25.93
18  10.76  16.83  19.78  20.81  22.04  17.95  13.55  18.72  34.36
19  15.36  17.65  20.65  24.93  22.65  18.86  14.97  15.70  31.89
20  22.03  29.47  28.44  33.70  33.96  32.70  27.96  29.37  29.93
21  22.53  29.20  30.24  29.60  31.55  33.67  33.46  32.93  32.61
22  22.88  30.67  34.64  40.85  40.90  40.43  38.57  38.34  37.99
23  20.77  28.46  27.89  33.26  34.58  34.00  34.38  30.90  39.01
24  21.03  28.11  27.18  31.50  31.88  33.79  31.73  32.13  34.57
25  22.66  28.99  31.30  33.04  35.02  36.93  34.02  34.90  35.30
26  19.25  25.89  27.01  30.48  33.56  34.35  31.27  31.59  32.40
27  15.54  21.90  25.24  31.66  30.49  25.23  24.01  24.70  39.42
28  16.37  21.63  22.92  27.44  24.43  28.63  23.69  25.91  28.55
29  14.94  20.90  20.19  21.11  23.95  25.95  25.94  26.72  27.48
30  11.11  17.62  17.33  15.56  19.65  20.80  20.27  21.44  24.29
31   9.85  13.61  13.17  15.75  15.28  14.53  14.23  14.93  19.88
32   6.07   7.53   7.81   6.90   9.98   9.14   7.13   9.80  15.41
33   1.40   2.53   6.87   9.78   4.47   2.86   4.84   1.97  10.97
34   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
35   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
36   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
37   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
38   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
39   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
40   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
41   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
42   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
43   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
44   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
45   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
46   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
47   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00

In [22]:
# Target2
models_2, results_2 = train_data(X_train_2, Y_train_2, X_valid_2, Y_valid_2, X_test)
results_2.sort_index()[:48]

0.1
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 1.3834
[1000]	valid_0's quantile: 1.38158
Early stopping, best iteration is:
[1004]	valid_0's quantile: 1.38151
0.2
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.20726
[1000]	valid_0's quantile: 2.19622
[1500]	valid_0's quantile: 2.19143
Early stopping, best iteration is:
[1448]	valid_0's quantile: 2.18961
0.3
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.60601
[1000]	valid_0's quantile: 2.59834
[1500]	valid_0's quantile: 2.581
[2000]	valid_0's quantile: 2.57478
[2500]	valid_0's quantile: 2.56869
[3000]	valid_0's quantile: 2.56292
[3500]	valid_0's quantile: 2.56084
[4000]	valid_0's quantile: 2.56
Early stopping, best iteration is:
[3951]	valid_0's quantile: 2.55921
0.4
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.72442
[1000]	valid_0's quantile: 2.69864
[1500]	valid_0's quantile: 2.69372
[2000]	valid_0's quantile: 2.68988
Early stopping, best iteration is:
[1845]	valid_0's quantile: 2.6895
0.5
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.64384
[1000]	valid_0's quantile: 2.6293
[1500]	valid_0's quantile: 2.61293
[2000]	valid_0's quantile: 2.60875
[2500]	valid_0's quantile: 2.59973
[3000]	valid_0's quantile: 2.59708
[3500]	valid_0's quantile: 2.59683
Early stopping, best iteration is:
[3653]	valid_0's quantile: 2.5954
0.6
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 2.38417
[1000]	valid_0's quantile: 2.36047
[1500]	valid_0's quantile: 2.35185
[2000]	valid_0's quantile: 2.34942
[2500]	valid_0's quantile: 2.34547
[3000]	valid_0's quantile: 2.34022
Early stopping, best iteration is:
[2792]	valid_0's quantile: 2.33932
0.7
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 1.9459
[1000]	valid_0's quantile: 1.93331
[1500]	valid_0's quantile: 1.92606
[2000]	valid_0's quantile: 1.92391
Early stopping, best iteration is:
[2112]	valid_0's quantile: 1.92377
0.8
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 1.40687
[1000]	valid_0's quantile: 1.39362
[1500]	valid_0's quantile: 1.38396
[2000]	valid_0's quantile: 1.3831
Early stopping, best iteration is:
[2179]	valid_0's quantile: 1.38277
0.9
Training until validation scores don't improve for 300 rounds
[500]	valid_0's quantile: 0.777848
[1000]	valid_0's quantile: 0.770998
Early stopping, best iteration is:
[1015]	valid_0's quantile: 0.77093

      0.1    0.2    0.3    0.4    0.5    0.6    0.7    0.8    0.9
0    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
1    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
2    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
3    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
4    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
5    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
6    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
7    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
8    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
9    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
10   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
11   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
12   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
13   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
14   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
15   1.53   2.36   2.72   2.90   2.93   2.16   4.39   7.66  12.01
16   2.71   7.62   8.92   9.15  12.86  14.16  13.59  22.83  24.86
17   3.68   9.00   9.24  11.52  11.76  12.37  15.16  22.32  31.20
18   8.83  16.06  19.18  22.66  21.50  18.98  17.78  14.99  33.16
19   9.15  19.94  22.56  21.42  20.62  18.18  16.48  17.82  32.04
20  17.51  23.82  28.16  31.04  28.05  31.45  28.19  28.83  30.00
21  19.36  23.94  25.95  27.88  28.25  28.33  31.69  32.25  31.24
22  20.35  29.92  32.93  36.93  34.82  38.79  35.10  32.98  36.31
23  17.21  26.59  29.84  29.65  29.15  34.06  31.70  24.77  34.46
24  17.05  26.28  29.25  30.63  30.10  35.56  32.63  30.33  35.29
25  19.94  29.56  31.60  34.99  33.98  37.60  33.97  32.94  36.48
26  17.26  25.09  28.86  28.95  30.49  34.54  30.60  28.82  32.40
27  10.31  24.73  32.27  31.65  31.12  31.25  24.31  34.33  45.69
28  12.41  22.19  27.48  29.46  31.63  28.60  22.46  24.18  26.72
29  14.05  21.30  27.48  26.66  28.46  32.00  25.88  22.46  28.68
30  10.77  17.41  26.03  23.38  23.02  26.30  25.49  22.50  24.25
31   7.23  13.71  19.13  16.65  16.12  16.68  17.70  15.87  19.99
32   4.86   8.98  10.21   9.97   8.25   6.46   7.53   6.79  13.11
33   3.29   6.09   9.18   7.97   8.94   4.85   4.88   0.44  12.00
34   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
35   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
36   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
37   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
38   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
39   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
40   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
41   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
42   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
43   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
44   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
45   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
46   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
47   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00

In [23]:
results_1.sort_index().iloc[:48]

      0.1    0.2    0.3    0.4    0.5    0.6    0.7    0.8    0.9
0    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
1    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
2    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
3    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
4    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
5    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
6    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
7    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
8    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
9    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
10   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
11   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
12   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
13   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
14   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
15   1.01   1.84   3.98   4.37   2.49   5.54   7.94   6.84   6.20
16   2.96   5.46   5.56   8.96   9.11  10.05  14.31  18.91  25.79
17   5.96   7.13   7.32  11.30  10.02  10.12  15.69  18.56  25.93
18  10.76  16.83  19.78  20.81  22.04  17.95  13.55  18.72  34.36
19  15.36  17.65  20.65  24.93  22.65  18.86  14.97  15.70  31.89
20  22.03  29.47  28.44  33.70  33.96  32.70  27.96  29.37  29.93
21  22.53  29.20  30.24  29.60  31.55  33.67  33.46  32.93  32.61
22  22.88  30.67  34.64  40.85  40.90  40.43  38.57  38.34  37.99
23  20.77  28.46  27.89  33.26  34.58  34.00  34.38  30.90  39.01
24  21.03  28.11  27.18  31.50  31.88  33.79  31.73  32.13  34.57
25  22.66  28.99  31.30  33.04  35.02  36.93  34.02  34.90  35.30
26  19.25  25.89  27.01  30.48  33.56  34.35  31.27  31.59  32.40
27  15.54  21.90  25.24  31.66  30.49  25.23  24.01  24.70  39.42
28  16.37  21.63  22.92  27.44  24.43  28.63  23.69  25.91  28.55
29  14.94  20.90  20.19  21.11  23.95  25.95  25.94  26.72  27.48
30  11.11  17.62  17.33  15.56  19.65  20.80  20.27  21.44  24.29
31   9.85  13.61  13.17  15.75  15.28  14.53  14.23  14.93  19.88
32   6.07   7.53   7.81   6.90   9.98   9.14   7.13   9.80  15.41
33   1.40   2.53   6.87   9.78   4.47   2.86   4.84   1.97  10.97
34   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
35   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
36   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
37   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
38   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
39   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
40   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
41   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
42   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
43   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
44   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
45   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
46   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
47   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00

In [24]:
results_2.sort_index()

      0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...
3883  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3884  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3885  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3886  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3887  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[3888 rows x 9 columns]

In [25]:
print(results_1.shape, results_2.shape)

(3888, 9) (3888, 9)

In [26]:
submission.loc[submission.id.str.contains("Day7"), "q_0.1":] = results_1.sort_index().values
submission.loc[submission.id.str.contains("Day8"), "q_0.1":] = results_2.sort_index().values
submission

,id,q_0.1,q_0.2,q_0.3,q_0.4,q_0.5,q_0.6,q_0.7,q_0.8,q_0.9
0,0.csv_Day7_0h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.csv_Day7_0h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.csv_Day7_1h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.csv_Day7_1h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.csv_Day7_2h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7771,80.csv_Day8_21h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7772,80.csv_Day8_22h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7773,80.csv_Day8_22h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7774,80.csv_Day8_23h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7775,80.csv_Day8_23h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
submission.iloc[:48]

,id,q_0.1,q_0.2,q_0.3,q_0.4,q_0.5,q_0.6,q_0.7,q_0.8,q_0.9
0,0.csv_Day7_0h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.csv_Day7_0h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.csv_Day7_1h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.csv_Day7_1h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.csv_Day7_2h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,0.csv_Day7_2h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,0.csv_Day7_3h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,0.csv_Day7_3h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,0.csv_Day7_4h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,0.csv_Day7_4h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,0.csv_Day7_5h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,0.csv_Day7_5h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,0.csv_Day7_6h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,0.csv_Day7_6h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,0.csv_Day7_7h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,0.csv_Day7_7h30m,1.01,1.84,3.98,4.37,2.49,5.54,7.94,6.84,6.20
16,0.csv_Day7_8h00m,2.96,5.46,5.56,8.96,9.11,10.05,14.31,18.91,25.79
17,0.csv_Day7_8h30m,5.96,7.13,7.32,11.30,10.02,10.12,15.69,18.56,25.93
18,0.csv_Day7_9h00m,10.76,16.83,19.78,20.81,22.04,17.95,13.55,18.72,34.36
19,0.csv_Day7_9h30m,15.36,17.65,20.65,24.93,22.65,18.86,14.97,15.70,31.89
20,0.csv_Day7_10h00m,22.03,29.47,28.44,33.70,33.96,32.70,27.96,29.37,29.93
21,0.csv_Day7_10h30m,22.53,29.20,30.24,29.60,31.55,33.67,33.46,32.93,32.61
22,0.csv_Day7_11h00m,22.88,30.67,34.64,40.85,40.90,40.43,38.57,38.34,37.99
23,0.csv_Day7_11h30m,20.77,28.46,27.89,33.26,34.58,34.00,34.38,30.90,39.01
24,0.csv_Day7_12h00m,21.03,28.11,27.18,31.50,31.88,33.79,31.73,32.13,34.57
25,0.csv_Day7_12h30m,22.66,28.99,31.30,33.04,35.02,36.93,34.02,34.90,35.30
26,0.csv_Day7_13h00m,19.25,25.89,27.01,30.48,33.56,34.35,31.27,31.59,32.40
27,0.csv_Day7_13h30m,15.54,21.90,25.24,31.66,30.49,25.23,24.01,24.70,39.42
28,0.csv_Day7_14h00m,16.37,21.63,22.92,27.44,24.43,28.63,23.69,25.91,28.55
29,0.csv_Day7_14h30m,14.94,20.90,20.19,21.11,23.95,25.95,25.94,26.72,27.48
30,0.csv_Day7_15h00m,11.11,17.62,17.33,15.56,19.65,20.80,20.27,21.44,24.29
31,0.csv_Day7_15h30m,9.85,13.61,13.17,15.75,15.28,14.53,14.23,14.93,19.88
32,0.csv_Day7_16h00m,6.07,7.53,7.81,6.90,9.98,9.14,7.13,9.80,15.41
33,0.csv_Day7_16h30m,1.40,2.53,6.87,9.78,4.47,2.86,4.84,1.97,10.97
34,0.csv_Day7_17h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
35,0.csv_Day7_17h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
36,0.csv_Day7_18h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
37,0.csv_Day7_18h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
38,0.csv_Day7_19h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
39,0.csv_Day7_19h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
40,0.csv_Day7_20h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
41,0.csv_Day7_20h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
42,0.csv_Day7_21h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
43,0.csv_Day7_21h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
44,0.csv_Day7_22h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
45,0.csv_Day7_22h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
46,0.csv_Day7_23h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
47,0.csv_Day7_23h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [28]:
submission.iloc[48:96]

,id,q_0.1,q_0.2,q_0.3,q_0.4,q_0.5,q_0.6,q_0.7,q_0.8,q_0.9
48,0.csv_Day8_0h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
49,0.csv_Day8_0h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50,0.csv_Day8_1h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
51,0.csv_Day8_1h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
52,0.csv_Day8_2h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
53,0.csv_Day8_2h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
54,0.csv_Day8_3h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
55,0.csv_Day8_3h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
56,0.csv_Day8_4h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
57,0.csv_Day8_4h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
58,0.csv_Day8_5h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
59,0.csv_Day8_5h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
60,0.csv_Day8_6h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
61,0.csv_Day8_6h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
62,0.csv_Day8_7h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
63,0.csv_Day8_7h30m,1.53,2.36,2.72,2.90,2.93,2.16,4.39,7.66,12.01
64,0.csv_Day8_8h00m,2.71,7.62,8.92,9.15,12.86,14.16,13.59,22.83,24.86
65,0.csv_Day8_8h30m,3.68,9.00,9.24,11.52,11.76,12.37,15.16,22.32,31.20
66,0.csv_Day8_9h00m,8.83,16.06,19.18,22.66,21.50,18.98,17.78,14.99,33.16
67,0.csv_Day8_9h30m,9.15,19.94,22.56,21.42,20.62,18.18,16.48,17.82,32.04
68,0.csv_Day8_10h00m,17.51,23.82,28.16,31.04,28.05,31.45,28.19,28.83,30.00
69,0.csv_Day8_10h30m,19.36,23.94,25.95,27.88,28.25,28.33,31.69,32.25,31.24
70,0.csv_Day8_11h00m,20.35,29.92,32.93,36.93,34.82,38.79,35.10,32.98,36.31
71,0.csv_Day8_11h30m,17.21,26.59,29.84,29.65,29.15,34.06,31.70,24.77,34.46
72,0.csv_Day8_12h00m,17.05,26.28,29.25,30.63,30.10,35.56,32.63,30.33,35.29
73,0.csv_Day8_12h30m,19.94,29.56,31.60,34.99,33.98,37.60,33.97,32.94,36.48
74,0.csv_Day8_13h00m,17.26,25.09,28.86,28.95,30.49,34.54,30.60,28.82,32.40
75,0.csv_Day8_13h30m,10.31,24.73,32.27,31.65,31.12,31.25,24.31,34.33,45.69
76,0.csv_Day8_14h00m,12.41,22.19,27.48,29.46,31.63,28.60,22.46,24.18,26.72
77,0.csv_Day8_14h30m,14.05,21.30,27.48,26.66,28.46,32.00,25.88,22.46,28.68
78,0.csv_Day8_15h00m,10.77,17.41,26.03,23.38,23.02,26.30,25.49,22.50,24.25
79,0.csv_Day8_15h30m,7.23,13.71,19.13,16.65,16.12,16.68,17.70,15.87,19.99
80,0.csv_Day8_16h00m,4.86,8.98,10.21,9.97,8.25,6.46,7.53,6.79,13.11
81,0.csv_Day8_16h30m,3.29,6.09,9.18,7.97,8.94,4.85,4.88,0.44,12.00
82,0.csv_Day8_17h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
83,0.csv_Day8_17h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
84,0.csv_Day8_18h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
85,0.csv_Day8_18h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
86,0.csv_Day8_19h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
87,0.csv_Day8_19h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
88,0.csv_Day8_20h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
89,0.csv_Day8_20h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
90,0.csv_Day8_21h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
91,0.csv_Day8_21h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
92,0.csv_Day8_22h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
93,0.csv_Day8_22h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
94,0.csv_Day8_23h00m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
95,0.csv_Day8_23h30m,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [29]:
submission.to_csv('./submission/submission_20210113-0.csv', index=False)

In [29]:
submission.describe()

,q_0.1,q_0.2,q_0.3,q_0.4,q_0.5,q_0.6,q_0.7,q_0.8,q_0.9
count,7776.000000,7776.000000,7776.000000,7776.000000,7776.000000,7776.000000,7776.000000,7776.000000,7776.000000
mean,8.294217,12.779228,16.015018,17.688659,19.220258,20.483561,21.452524,22.274990,23.283083
std,12.651076,18.032603,21.810058,23.631704,25.304012,26.804673,28.022221,29.070809,30.004930
min,-1.950000,-0.590000,-2.500000,-2.280000,-3.450000,-2.550000,-4.840000,-12.020000,-16.910000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.285000,0.850000,1.090000,1.205000,1.405000,1.450000,1.275000,1.245000,1.950000
75%,13.870000,22.747500,30.290000,34.252500,37.682500,41.000000,43.082500,44.825000,47.112500
max,83.750000,89.690000,95.930000,97.290000,101.600000,95.160000,97.810000,98.190000,97.820000