In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

np.random.seed(601)

import sklearn
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.preprocessing import LabelEncoder

In [ ]:
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [2]:
data = pd.read_csv('data/201901-202003.csv')

In [ ]:
# 날짜 처리

data = data.fillna('')
data['year'] = data['REG_YYMM'].apply(lambda x: grap_year(x))
data['month'] = data['REG_YYMM'].apply(lambda x: grap_month(x))
data = data.drop(['REG_YYMM'], axis=1)

In [3]:
data

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [5]:
# 데이터 정제
df = data.copy()
df = df.drop(['CARD_CCG_NM', 'HOM_CCG_NM'   , 'AGE', 'SEX_CTGO_CD', 'FLC', 'HOM_SIDO_NM','CSTMR_CNT','CNT'], axis=1)
df

          REG_YYMM CARD_SIDO_NM STD_CLSS_NM      AMT
0           201901           강원  건강보조식품 소매업   311200
1           201901           강원  건강보조식품 소매업  1374500
2           201901           강원  건강보조식품 소매업   818700
3           201901           강원  건강보조식품 소매업  1717000
4           201901           강원  건강보조식품 소매업  1047300
...            ...          ...         ...      ...
24697787    202003           충북    휴양콘도 운영업    43300
24697788    202003           충북    휴양콘도 운영업    35000
24697789    202003           충북    휴양콘도 운영업   188000
24697790    202003           충북    휴양콘도 운영업    99000
24697791    202003           충북    휴양콘도 운영업   194000

[24697792 rows x 4 columns]

In [6]:
columns = ['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM']
df = df.groupby(columns).sum().reset_index(drop=False)
df

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
0       201901           강원             건강보조식품 소매업    148354746
1       201901           강원                골프장 운영업   1229200312
2       201901           강원            과실 및 채소 소매업   1286979106
3       201901           강원      관광 민예품 및 선물용품 소매업     30656770
4       201901           강원        그외 기타 스포츠시설 운영업     13101500
...        ...          ...                    ...          ...
9433    202003           충북  피자 햄버거 샌드위치 및 유사 음식점업   1315245299
9434    202003           충북                한식 음식점업  16152482704
9435    202003           충북                    호텔업     15248550
9436    202003           충북          화장품 및 방향제 소매업    428881434
9437    202003           충북               휴양콘도 운영업     12733490

[9438 rows x 4 columns]

In [9]:
pivot = df.pivot_table(['AMT'], index=['CARD_SIDO_NM','STD_CLSS_NM'], columns='REG_YYMM')
pivot

                                             AMT                              \
REG_YYMM                                  201901        201902        201903
CARD_SIDO_NM STD_CLSS_NM
강원           건강보조식품 소매업             1.483547e+08  1.467159e+08  1.094390e+08
             골프장 운영업                1.229200e+09  1.152241e+09  2.760497e+09
             과실 및 채소 소매업            1.286979e+09  1.116266e+09  9.392280e+08
             관광 민예품 및 선물용품 소매업      3.065677e+07  2.292115e+07  2.502319e+07
             그외 기타 분류안된 오락관련 서비스업            NaN           NaN           NaN
...                                          ...           ...           ...
충북           피자 햄버거 샌드위치 및 유사 음식점업  1.419836e+09  1.315558e+09  1.441132e+09
             한식 음식점업                2.159803e+10  1.949968e+10  2.295248e+10
             호텔업                    3.466272e+07  3.395935e+07  3.603001e+07
             화장품 및 방향제 소매업          7.287220e+08  6.552886e+08  7.293284e+08
             휴양콘도 운영업               1.985749e+08  1.658722e+08  1.074314e+08

                                                                              \
REG_YYMM                                  201904        201905        201906
CARD_SIDO_NM STD_CLSS_NM
강원           건강보조식품 소매업             1.065485e+08  1.481157e+08  9.796009e+07
             골프장 운영업                3.964893e+09  5.493932e+09  5.663770e+09
             과실 및 채소 소매업            8.276834e+08  1.021473e+09  1.001626e+09
             관광 민예품 및 선물용품 소매업      1.790561e+07  4.058234e+07  3.079764e+07
             그외 기타 분류안된 오락관련 서비스업            NaN  1.770000e+05           NaN
...                                          ...           ...           ...
충북           피자 햄버거 샌드위치 및 유사 음식점업  1.428269e+09  1.562180e+09  1.539625e+09
             한식 음식점업                2.216287e+10  2.443094e+10  2.313059e+10
             호텔업                    4.051093e+07  4.440809e+07  3.458097e+07
             화장품 및 방향제 소매업          6.872543e+08  7.134974e+08  6.526526e+08
             휴양콘도 운영업               1.019304e+08  1.788349e+08  1.419489e+08

                                                                              \
REG_YYMM                                  201907        201908        201909
CARD_SIDO_NM STD_CLSS_NM
강원           건강보조식품 소매업             9.250573e+07  9.902312e+07  2.053536e+08
             골프장 운영업                5.032904e+09  5.800083e+09  4.158458e+09
             과실 및 채소 소매업            9.533469e+08  1.384944e+09  1.313429e+09
             관광 민예품 및 선물용품 소매업      2.920380e+07  5.839730e+07  2.788337e+07
             그외 기타 분류안된 오락관련 서비스업            NaN           NaN           NaN
...                                          ...           ...           ...
충북           피자 햄버거 샌드위치 및 유사 음식점업  1.579520e+09  1.569194e+09  1.470381e+09
             한식 음식점업                2.353598e+10  2.461278e+10  2.193354e+10
             호텔업                    2.586850e+07  2.957544e+07  3.446571e+07
             화장품 및 방향제 소매업          5.994955e+08  5.738562e+08  5.690937e+08
             휴양콘도 운영업               2.069802e+08  4.761969e+08  1.060594e+08

                                                                              \
REG_YYMM                                  201910        201911        201912
CARD_SIDO_NM STD_CLSS_NM
강원           건강보조식품 소매업             1.159177e+08  9.808464e+07  9.523231e+07
             골프장 운영업                5.652093e+09  4.017470e+09  1.239989e+09
             과실 및 채소 소매업            1.317877e+09  1.052642e+09  1.021407e+09
             관광 민예품 및 선물용품 소매업      5.313822e+07  3.094007e+07  2.991720e+07
             그외 기타 분류안된 오락관련 서비스업            NaN           NaN           NaN
...                                          ...           ...           ...
충북           피자 햄버거 샌드위치 및 유사 음식점업  1.415832e+09  1.272053e+09  1.426056e+09
             한식 음식점업                2.293257e+10  2.143430e+10  2.389698e+10
             호텔업                    3.347145e+07  5.389774e+07  6.138812e+07
             화장품 및 방향제 소매업          6.085027e+08  5.801607e+08  5.888324e+08
             휴양콘도 운영업               1.853290e+08  1.241176e+08  1.395690e+08


REG_YYMM                                  202001        202002        202003
CARD_SIDO_NM STD_CLSS_NM
강원           건강보조식품 소매업             1.850088e+08  7.650556e+07  9.605901e+07
             골프장 운영업                1.241102e+09  9.684565e+08  2.915798e+09
             과실 및 채소 소매업            1.576557e+09  8.672144e+08  9.948169e+08
             관광 민예품 및 선물용품 소매업      3.015254e+07  1.637550e+07  1.331730e+07
             그외 기타 분류안된 오락관련 서비스업            NaN           NaN           NaN
...                                          ...           ...           ...
충북           피자 햄버거 샌드위치 및 유사 음식점업  1.346898e+09  1.192385e+09  1.315245e+09
             한식 음식점업                2.153331e+10  1.733888e+10  1.615248e+10
             호텔업                    4.132985e+07  1.151693e+07  1.524855e+07
             화장품 및 방향제 소매업          5.649097e+08  4.950129e+08  4.288814e+08
             휴양콘도 운영업               2.220731e+08  4.708583e+07  1.273349e+07

[650 rows x 15 columns]

In [13]:
cond1 = df.CARD_SIDO_NM == '제주'
cond2 = df.STD_CLSS_NM == '택시 운송업'
df[cond1 & cond2]

      REG_YYMM CARD_SIDO_NM STD_CLSS_NM     AMT
6237    201910           제주      택시 운송업   78000
6865    201911           제주      택시 운송업   85100
7496    201912           제주      택시 운송업  320800
8125    202001           제주      택시 운송업  215500
8750    202002           제주      택시 운송업  278800
9361    202003           제주      택시 운송업  471100

In [10]:
pivot.to_csv('pivot.csv', encoding='utf-8-sig')

In [ ]:
# 인코딩
dtypes = df.dtypes
encoders = {}
for column in df.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(df[column])
        encoders[column] = encoder
        
df_num = df.copy()        
for column in encoders.keys():
    encoder = encoders[column]
    df_num[column] = encoder.transform(df[column])

In [ ]:
# feature, target 설정
train_num = df_num.sample(frac=1, random_state=0)
x = train_num.drop(['CSTMR_CNT', 'AMT', 'CNT'], axis=1)
y = np.log1p(train_num['AMT'])

In [ ]:
k = int(len(x)*0.9)

In [ ]:
x_train = x[:k]
y_train = y[:k]
x_val = x[k:]
y_val = y[k:]

In [ ]:
import lightgbm as lgb

In [ ]:
train_ds = lgb.Dataset(x_train, label=y_train)
val_ds = lgb.Dataset(x_val, label=y_val)

In [ ]:
params = {
            'learning_rate' : 0.05,
            'boosting_type': 'gbdt',
            'objective': 'tweedie',
            'tweedie_variance_power': 1.1,
            'metric': 'rmse',
            'sub_row' : 0.75,
            'lambda_l2' : 0.1
        }

In [ ]:
model = lgb.train(params,
                  train_ds,
                  1000,
                  val_ds,
                  verbose_eval = 100,
                  early_stopping_rounds = 100
                 )

In [44]:
# 예측 템플릿 만들기
REG_YYMMs = [202004, 202007]
CARD_SIDO_NMs = df_num['CARD_SIDO_NM'].unique()
STD_CLSS_NMs  = df_num['STD_CLSS_NM'].unique()
#HOM_SIDO_NMs  = df_num['HOM_SIDO_NM'].unique()
#AGEs          = df_num['AGE'].unique()
#SEX_CTGO_CDs  = df_num['SEX_CTGO_CD'].unique()
#FLCs          = df_num['FLC'].unique()
#years         = [2020]
#months        = [4, 7]

temp = []
for REG_YYMM in REG_YYMMs:
    for CARD_SIDO_NM in CARD_SIDO_NMs:
        for STD_CLSS_NM in STD_CLSS_NMs:
            temp.append([REG_YYMM, CARD_SIDO_NM, STD_CLSS_NM]) # , AGE, SEX_CTGO_CD, FLC
temp = np.array(temp)
temp = pd.DataFrame(data=temp, columns=x.columns)

NameError: name 'df_num' is not defined

In [ ]:
temp

In [ ]:
# 예측
pred = model.predict(temp)
pred = np.expm1(pred)
temp['AMT'] = np.round(pred, 0)
temp['REG_YYMM'] = temp['year']*100 + temp['month']
temp = temp[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
temp = temp.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum().reset_index(drop=False)

In [ ]:
# 디코딩 
temp['CARD_SIDO_NM'] = encoders['CARD_SIDO_NM'].inverse_transform(temp['CARD_SIDO_NM'])
temp['STD_CLSS_NM'] = encoders['STD_CLSS_NM'].inverse_transform(temp['STD_CLSS_NM'])

In [31]:
df02 = df[df.REG_YYMM == 202002]
df03 = df[df.REG_YYMM == 202003]
dfmean = pd.concat([df02, df03])
dfmean

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
8206    202002           강원             건강보조식품 소매업     76505561
8207    202002           강원                골프장 운영업    968456455
8208    202002           강원            과실 및 채소 소매업    867214360
8209    202002           강원      관광 민예품 및 선물용품 소매업     16375500
8210    202002           강원        그외 기타 스포츠시설 운영업      5065100
...        ...          ...                    ...          ...
9433    202003           충북  피자 햄버거 샌드위치 및 유사 음식점업   1315245299
9434    202003           충북                한식 음식점업  16152482704
9435    202003           충북                    호텔업     15248550
9436    202003           충북          화장품 및 방향제 소매업    428881434
9437    202003           충북               휴양콘도 운영업     12733490

[1232 rows x 4 columns]

In [38]:
columns = ['CARD_SIDO_NM', 'STD_CLSS_NM']
dfmean = dfmean.groupby(columns).mean().reset_index(drop=False)
dfmean

    CARD_SIDO_NM            STD_CLSS_NM  REG_YYMM           AMT
0             강원             건강보조식품 소매업  202002.5  8.628229e+07
1             강원                골프장 운영업  202002.5  1.942127e+09
2             강원            과실 및 채소 소매업  202002.5  9.310157e+08
3             강원      관광 민예품 및 선물용품 소매업  202002.5  1.484640e+07
4             강원        그외 기타 스포츠시설 운영업  202002.5  3.570050e+06
..           ...                    ...       ...           ...
621           충북  피자 햄버거 샌드위치 및 유사 음식점업  202002.5  1.253815e+09
622           충북                한식 음식점업  202002.5  1.674568e+10
623           충북                    호텔업  202002.5  1.338274e+07
624           충북          화장품 및 방향제 소매업  202002.5  4.619472e+08
625           충북               휴양콘도 운영업  202002.5  2.990966e+07

[626 rows x 4 columns]

In [39]:
df04 = dfmean.copy()
df07 = dfmean.copy()
df04

    CARD_SIDO_NM            STD_CLSS_NM  REG_YYMM           AMT
0             강원             건강보조식품 소매업  202002.5  8.628229e+07
1             강원                골프장 운영업  202002.5  1.942127e+09
2             강원            과실 및 채소 소매업  202002.5  9.310157e+08
3             강원      관광 민예품 및 선물용품 소매업  202002.5  1.484640e+07
4             강원        그외 기타 스포츠시설 운영업  202002.5  3.570050e+06
..           ...                    ...       ...           ...
621           충북  피자 햄버거 샌드위치 및 유사 음식점업  202002.5  1.253815e+09
622           충북                한식 음식점업  202002.5  1.674568e+10
623           충북                    호텔업  202002.5  1.338274e+07
624           충북          화장품 및 방향제 소매업  202002.5  4.619472e+08
625           충북               휴양콘도 운영업  202002.5  2.990966e+07

[626 rows x 4 columns]

In [40]:
df04['REG_YYMM'] = 202004
df07['REG_YYMM'] = 202007
df04

    CARD_SIDO_NM            STD_CLSS_NM  REG_YYMM           AMT
0             강원             건강보조식품 소매업    202004  8.628229e+07
1             강원                골프장 운영업    202004  1.942127e+09
2             강원            과실 및 채소 소매업    202004  9.310157e+08
3             강원      관광 민예품 및 선물용품 소매업    202004  1.484640e+07
4             강원        그외 기타 스포츠시설 운영업    202004  3.570050e+06
..           ...                    ...       ...           ...
621           충북  피자 햄버거 샌드위치 및 유사 음식점업    202004  1.253815e+09
622           충북                한식 음식점업    202004  1.674568e+10
623           충북                    호텔업    202004  1.338274e+07
624           충북          화장품 및 방향제 소매업    202004  4.619472e+08
625           충북               휴양콘도 운영업    202004  2.990966e+07

[626 rows x 4 columns]

In [42]:
df07['REG_YYMM']

0      202007
1      202007
2      202007
3      202007
4      202007
        ...
621    202007
622    202007
623    202007
624    202007
625    202007
Name: REG_YYMM, Length: 626, dtype: int64

In [43]:
dfall = pd.concat([df04, df07])
dfall

    CARD_SIDO_NM            STD_CLSS_NM  REG_YYMM           AMT
0             강원             건강보조식품 소매업    202004  8.628229e+07
1             강원                골프장 운영업    202004  1.942127e+09
2             강원            과실 및 채소 소매업    202004  9.310157e+08
3             강원      관광 민예품 및 선물용품 소매업    202004  1.484640e+07
4             강원        그외 기타 스포츠시설 운영업    202004  3.570050e+06
..           ...                    ...       ...           ...
621           충북  피자 햄버거 샌드위치 및 유사 음식점업    202007  1.253815e+09
622           충북                한식 음식점업    202007  1.674568e+10
623           충북                    호텔업    202007  1.338274e+07
624           충북          화장품 및 방향제 소매업    202007  4.619472e+08
625           충북               휴양콘도 운영업    202007  2.990966e+07

[1252 rows x 4 columns]

In [46]:
submission = pd.read_csv('data/submission.csv', index_col=0)
submission = submission.drop(['AMT'], axis=1)

In [47]:
submission = submission.merge(dfall, left_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
submission.index.name = 'id'

In [53]:
idx = submission[submission.AMT.isnull() == True].index
idx

Int64Index([], dtype='int64', name='id')

In [52]:
submission = submission.fillna(1)

In [54]:
# 제출 파일 만들기
submission.to_csv('20200708_3.csv', encoding='utf-8-sig')
submission.head()

    REG_YYMM CARD_SIDO_NM           STD_CLSS_NM           AMT
id
0     202004           강원            건강보조식품 소매업  8.628229e+07
1     202004           강원               골프장 운영업  1.942127e+09
2     202004           강원           과실 및 채소 소매업  9.310157e+08
3     202004           강원     관광 민예품 및 선물용품 소매업  1.484640e+07
4     202004           강원  그외 기타 분류안된 오락관련 서비스업  1.000000e+00